.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-around;
  margin: 10px;
  width: 300px;

  h3 {
    font-family: "Open+Sans", sans-serif;
    font-weight: 700;
    font-size: 1.2em;
    padding-top: 20px;
    padding-bottom: 10px;

    p {
      font-family: "Open+Sans", sans-serif;
      font-weight: 100;
      font-size: 1em;
      text-align: center;
      text-align: justify;
    }
  }
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  position: relative;

  a img {
    width: 150px;
    height: 100x;
    margin: 10px;
  }
}

nav ul li {
  display: inline-block;
  padding: 10px;
  list-style: none;
  line-height: 30px;

  a {
    color: black;
    text-decoration: none;
  }
}

nav ul li a:hover {
  font-weight: bold;
}

.footer {
  width: 1200px;
  background-color: lightgray;
  padding-top: 0em;
  text-align: center;
  padding: 1rem;
  margin: 1.8rem;

  h3 {
    letter-spacing: 0.1rem;
    text-align: center;
    padding-bottom: 0.8rem;
    font-family: "Open+Sans", sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
  }

  p {
    text-align: center;
    font-weight: lighter;
    font-size: 0.8em;
    padding-top: 15px;
  }
}

.footer a i {
  color: white;
  font-size: 2em;
  margin-left: 1em;
  align-items: center;
  padding: 10px;
}

.footer-conteiner i:hover {
  color: #202020;
}

#carouselExampleCaptions {
  margin: 10px;
  padding-bottom: 20px;
  padding: 20px;
}

.carousel-inner {
  height: 500px;
}

.carousel-caption {
  color: white;
  font-style: 2rem;
  top: 150px;
}

.carousel-caption h3 {
  font-weight: 700;
  font-size: 2rem;
  color: black;
  font-style: 2rem;
  top: 150px;
  left: 5%;
}

.carousel-caption.p_white {
  font-style: 1rem;
  color: white;
  top: 240px;
  left: 5%;
}
.carousel-item .p_kv2_black {
  font-style: 1rem;
  color: black;
  top: 200px;
  left: 5%;
}
.carousel-item .p_kv3_black {
  font-style: 1rem;
  color: black;
  top: 240px;
  left: 5%;
}

.carousel-caption button {
  top: 300px;
  left: 5%;
  width: 80px;
  height: 25px;
  font-weight: 800;
  font-family: "open-sans", sans-serif;
  border-radius: 40px;
  border: none;
  background-color: white;
  transition: all 0.5s ease;
}

.carousel-caption a {
  font-weight: normal;
  color: black;
  list-style: none;
  text-decoration: none;
}
carousel-caption a:hover {
  font-weight: 800;
  color: white;
}

carousel-caption a:hover {
  background-color: #505050;
}

@media screen and (max-width: 500px) {
  .main_kv {
    background: url("../videos/Main-KV_720x1080_mo.webm");
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
  }
}

#cards {
  display: flex;
  justify-content: space-around;
  padding-bottom: 50px;
}

.img-card {
  width: 360px;
  height: 250px;
  object-fit: cover;
  border-radius: 50px;
  overflow: hidden;
  padding-bottom: 10px;
}

/* section 3 */

.galaxy-watch_title h2 {
  text-align: center;
  padding-bottom: 5px;
  vertical-align: middle;
}

.galaxy-watch_section {
  display: flex;
  position: relative;
  height: 600px;
  padding: 0.5em;
}

.galaxy_img {
  height: 80%;
  border-radius: 5%;
  animation: from-left 4s ease;
}

.galaxy-watch_list {
  flex-direction: column;
  line-height: 60px;
  padding-left: 20px;
}

ol li a {
  position: absolute;
  align-items: flex-start;
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 1.2em;
}

ol li a:hover {
  font-weight: lighter;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.col {
  width: 100%;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.row li a {
  padding-bottom: 6px;
  border-bottom: solid 0.5px black;
}

/* ANIMATION */
@keyframes from-left {
  0% {
    opacity: 0;
    transform: translateX(-80px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

/* ANIMATION */
@keyframes from-left {
  0% {
    opacity: 0;
    transform: translateX(-80px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
